@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
    .footer-input-wrap {
       width: 207px; 
       margin-bottom: 0;
    }
    .footer-form {
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
    .made > .container {
        max-width: 644px;
    }
    .section-title {
        font-size: 24px;
        line-height: 1.17;
    }
    .header-menu {
        display: flex;
        gap: 24px;
      }
    
      .menu-open-btn {
        display: none;
      }
    
      .header-container {
        gap: 0;

      }
      .header-socials {
        display: flex;
        gap: 18px;
      }
    
      .header-socials-link {
        display: block;
      }
    
      .header-socials-item {
        height: 24px;
      }
    
      .current {
        position: relative;
      }
    
      .current::after {
        content: '';
        position: absolute;
        bottom: -45px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
    
      .header-socials-link {
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: background-color 300ms ease, color 300ms ease;
        color: #111111;
        /* box-shadow: 0 0 0 3px red, 0 0 0 6px green, 0 0 0 9px blue; */
      }
    
      .header-socials-icon {
        fill: currentColor;
      }
    
      .header-socials-link:is(:hover, :focus) {
        background-color: #1E1823;
        color: var(--secondary-text-color);
      }
    
      /* .header-socials-link:is(:hover, :focus) .header-socials-icon {
      fill: var(--secondary-text-color);
    } */
    
      .header-socials-item {
        width: 50px;
        height: 50px;
      }
    
      .header-menu-link {
        color: var(--main-text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
        transition: color 300ms ease;
      }
    
      .header-menu-link:hover,
      .header-menu-link:focus {
        color: var(--accent-color);
      }
    
      /* .header-menu-link:is(:hover, :focus) {
      color: var(--accent-color)
    } */
    
      /* .header-menu-link:focus {
      color: var(--accent-color)
    } */
    
     
    .hero-title {
        font-size: 28px;
    }
    .hero-container {
        padding: 671px 40px 40px 40px;
        background-color: #48433c;
        background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero_tablet-min.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero_mobile-min_x2.jpg);
    }
  }
    .hero-down {
        margin-left: auto;
        margin-top: 0;
    }
    .hero-btn, .hero-link {
        padding: 14px 40px;
    }
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
        
    }
    .advantages-list {
        gap: 32px;
    }
    .advantages-item {
        width: calc((100% - 32px) / 2) ;
    }
    .taste {
        padding-top: 80px;
    }
    .taste-list {
        gap: 32px;
    }
    .taste-item {
        width: calc((100% - 32px) / 2);
    }
    .products {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .our-products {
        gap: 18px;
    }
    .products-item {
        max-width: 344px;
    }
    .made {
        padding-top: 80px;
    }
    .made-head {
        margin-bottom: 28px;
    }
    .made-content {
        max-width: 100%;
        padding: 32px;
    }
    .made-list {
        min-width: 464px;
    }
    .sellers {
        padding: 50px 0;
    }
    .sellers-top-img li {
        max-width: 344px;
    }
    .sellers-img {
        max-width: 344px;
    }
    .loved {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .loved-title {
        margin-bottom: 91px;
    }
    .loved-list {
        column-gap: 16px;
        margin-bottom: 94px;
    }
    .loved-item {
        width: calc((100% - 16px) / 2);
    }
    .footer {
        background-color: var(--main-text-color);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 54px;
        margin-bottom: 24px;
    }
    .footer-main-text {
        font-size: 28px;
        line-height: 21px;
    }
    .footer-bottom {
        flex-direction: row;
    }
    .footer-menu {
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    .footer-input-wrap {
        width: 233px; 
        
    }
}
@media screen and (min-width: 1166px) {
    .container, 
    .made > .container  {
        max-width: 1166px;
    }
    .header-container {
        gap: 90px;

      }
    .hero-container {
        padding: 380px 40px 40px 40px;
        background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)),
      url(../images/hero_desktop-min.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero_mobile-min_x2.jpg);
    }
  }
    .advantages-item {
        width: calc((100% - 88px * 2) / 3); 
    }
    .advantages-list {
        padding-left: 18px;
        padding-right: 18px;
        gap: 88px;
    }
    .advantages-item:last-child::after {
        display: none;
    }
    .advantages-item::after {
        content: '';
        position: absolute;
        right: -44px;
        top: 50%;
        transform: translateY(-50%);
        height: 124px;
       
        width: 1px;background-color: rgba(255, 255, 255, 0.5);
        
    }
    .taste {
        padding-top: 100px;
    }
    .taste-list {
        gap: 19px;
    }
    .taste-item {
        width: calc((100% - 57px) / 4);
    }
    .products {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .our-products {
        gap: 18px;
    }
    .products-item {
        max-width: 270px;
    }
    .made {
        padding-top: 100px;
    }
    .made-title {
        margin-bottom: 50px;
    }
    .made-wrap {
        display: flex;
        justify-content: space-between;
    }
    .made-image {
        max-width: 600px;
    }
    .made-item:not(:last-child) {
        margin-bottom: 24px;
    }
    .made-content {
        max-width: 516px;
    }
    .made-list {
        max-width: 425px;
    }
    .made-image {
        margin-bottom: 0;
    }
    .sellers {
        padding: 50px 0;
    }
    .sellers-top-img {
        gap: 18px;
    }
    .sellers-top-img li {
        max-width: 368px;
    }
    .sellers-img {
        max-width: 368px;
    }
    .loved {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .loved-title {
        margin-bottom: 91px;
    }
    .loved-list {
        column-gap: 28px;
        margin-bottom: 49px;
    }
    .loved-item {
        width: calc((100% - 56px) / 3);
        
    }
    .footer-input-wrap {
        width: 313px;
    }
    /* .footer-top {
        display: flex;
        justify-content: space-between;
    } */
    /* .footer-bottom {
        align-items: center;
    } */
    
    .footer-menu-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 54px;
        margin-bottom: 24px;
    }
    .footer-navigation {
        margin-bottom: 0;
    }
    
    .footer-form-btn {
        padding: 17px 32px;
    }
    
    .footer-main-text {
        margin-bottom: 0;
    }
    .footer-input-wrap {
        width: 313px; 
    }
    .footer-form-btn {
        padding: 17px 32px;
    }
    .footer-main-text {
        margin-bottom: 0;
    }
}
